GITEAUSER=gitea
URL=server.com
URI=/tea
EMAIL=example_email


GITEA_UID=$(id -u $GITEAUSER)
GITEA_GID=$(id -g $GITEAUSER)

ACME_URL=https://smallstep-crt/acme/acme/directory
ACME_CA_ROOT=-/etc/ssl/cert.pem
